@model Login.Models.StellenangebotUebersicht
@{
    ViewBag.Title = "Hiwi Börse Ulm - Stellenangebote";
}

<h2>Hiwi Börse - Universität Ulm - Stellenangebote</h2>


  <div id="stellenangebotUebersicht">
@Html.Partial("_Stellenangebote", Model)
</div>

